<template>
  <mdb-container id="one">
    <mdb-row>
      <mdb-card reverse>
        <mdb-view hover cascade>
          <mdb-card-image src="https://i.imgur.com/pqzvSOB.jpg" alt="Card image cap"></mdb-card-image>
          <mdb-mask waves overlay="white-slight"></mdb-mask>
        </mdb-view>
        <center>
          <br>
          
        <h3 class="light-blue-text"><b> AVCCS - Results </b></h3> </center>
        <br>
        <hr>
        <div class="container">
  <div class="row">
    <div class="col-md-10"><button type="button" class="btn btn-primary" @click="generate()">Download: PDF</button> </div>
    <div class="col-md-1"> <button type="button" class="btn btn-danger" id="btbt" @click="logout()">Logout</button></div>
  </div>
</div>
        
        <hr>
        <mdb-card-body class="text-center" cascade>
          
<div>
  <!-- <input type="text" v-model="searchblock" placeholder="മേഖല തിരയുക "/>
  <input type="text" v-model="searchdate" placeholder="തീയതി തിരയുക "/> -->
 <b-container fluid>
    <b-row class="my-1" v-for="type in types" :key="type">
      <b-col sm="3">
         <span class="input-group-text" slot="prepend" >Search - by Date </span>
      </b-col>
      <b-col sm="9">
        <b-form-input :id="`type-${type}`" :type="type" v-model="searchdate" />
      </b-col>
    </b-row>
  </b-container>
  <!-- <div ref="content">

    <mdb-tbl > 
      
      <mdb-tbl-head>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Blocks</th>
          <th>Total Husk</th>
          <th>Used Husk</th>
          <th>Good Fiber</th>
          <th>Little Fiber</th>
          <th>Cocopeat</th>
          <th>Total workers</th>
           

        </tr>
      </mdb-tbl-head>
      <mdb-tbl-body>
        <tr li v-for="blocks in filteredDatas" v-bind:key="blocks.id" class="collection-item">
          <th>{{blocks.coir_id}}</th>
          <th>{{blocks.date}}</th>
          <td>{{blocks.block_name}}</td>
          <td> {{blocks.total_husk}}</td>
          <td>{{blocks.used_husk}}</td>
          <td> {{blocks.good_fiber}}</td>
          <td>{{blocks.little_fiber}}</td>
          <td>{{blocks.cocopeat}}</td>
          <td>{{blocks.workers}}</td>
          
        </tr>
        
      </mdb-tbl-body>
    </mdb-tbl>
    </div> -->
  </div>




            <!--  <ul class="collection with-header">
               <li class="collection-header">
                 <h4> datas</h4>
                 <li v-for="blocks in coir_blocks" v-bind:key="blocks.id" class="collection-item">
                  {{blocks.coir_id}}
                  {{blocks.cocopeat}}
                 </li>


               
              
             </ul> -->

           
        </mdb-card-body><center></center>


 <table id="table">
    <thead>
    <tr>
        
          <th> <strong>  Date </strong></th>
          <th> <strong>Blocks  </strong> </th>
          <th> <strong>Total Husk</strong></th>
          <th><strong>Used Husk</strong></th>
          <th><strong>Good Fiber</strong></th>
          <th><strong>Little Fiber</strong></th>
          <th><strong>Cocopeat</strong></th>
          <th><strong>Total workers</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <tr li v-for="blocks in filteredDatas" v-bind:key="blocks.id" class="collection-item">
         
          <th>{{blocks.date}}</th>
          <td>{{blocks.block_name}}</td>
          <td> {{blocks.total_husk}}</td>
          <td>{{blocks.used_husk}}</td>
          <td> {{blocks.good_fiber}}</td>
          <td>{{blocks.little_fiber}}</td>
          <td>{{blocks.cocopeat}}</td>
          <td>{{blocks.workers}}</td>
          
    </tr>
  
    </tbody>
</table>
   

      </mdb-card>
    </mdb-row>
    
  </mdb-container>
</template>
  <script>
          import { mdbContainer, mdbRow,mdbCard, mdbCardImage,mdbCardBody ,mdbView, mdbMask,mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';
import db from './firebaseInit';
import firebase from 'firebase';
import jsPDF from 'jspdf';
import 'jspdf-autotable';
          export default {
            name: 'CardProPage',
            components: {
              mdbContainer,
              mdbRow,
              mdbCard,
              mdbCardImage,
              mdbCardBody,
              mdbView,
              mdbMask,
         mdbTbl,
      mdbTblHead,
      mdbTblBody
            },
  data(){
      return {
          coir_blocks :[],
           
          searchdate:'',
           types: [

          'date'
        ]
      }
  },
  methods: {
    generate() {
        var doc = new jsPDF();
       /*  doc.autoTable({head: head, body: body}); */
        doc.autoTable({html: '#table', startY: 30});
        
        doc.save("dataurlnewwindow");
    },
      logout:function(){
      firebase.auth().signOut().then(() => {
        this.$router.replace('firstpage')
      })
    }
  },
  
  created()
  {
db.collection('coir_blocks').get().then(query_Snapshot => {
    query_Snapshot.forEach(doc => {
  
      const data ={
        'id': doc.id,
        
       
        'date' : doc.data().date,
        'block_name': doc.data().block_name,
        'total_husk': doc.data().total_husk,
        'used_husk' : doc.data().used_husk,
        'good_fiber': doc.data().good_fiber,
        'little_fiber': doc.data().little_fiber,
         'cocopeat' : doc.data().cocopeat,
         'workers': doc.data().workers,
      }
      this.coir_blocks.push(data)
    })
})
  },
  computed: {
filteredDatas:function() {
  return this.coir_blocks.filter((blocks) => {
    return blocks.date.match(this.searchdate)
      
    
  })
}

  }


          };
        </script>
 <style>
 section.preview {
    border: 1px solid #e0e0e0;
    padding: 15px;
     width: 750px;
     
}
#one {
     
    padding-left: 50px;
}
 
#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(41, 107, 228);
  color: white;
}
 
 </style>
 