<template>
<div>
  <mdb-container id="one">
    <mdb-row>
      <mdb-card reverse>
        <mdb-view hover cascade>
          <mdb-card-image src="https://i.imgur.com/Mx23jk2.jpg" alt="Card image cap"></mdb-card-image>
          <mdb-mask waves overlay="white-slight"></mdb-mask>
        </mdb-view>
        <center>
          <br>
        <h3 class="light-blue-text"><b> AVCCS - Login </b></h3></center>
        <br>
        <hr>
        <mdb-card-body class="text-center" cascade>   
            <center>     
                <div id="login">
<!-- <!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="text"  class="form-control mb-4" placeholder="E-mail" v-model="email">

    <!-- Password -->
    <input type="password"  class="form-control mb-4" placeholder="Password" v-model="password"> 
    
</form>
<div id="signin">
<button class="btn btn-info btn-block my-1" type="submit" v-on:click="login()">Sign in</button>
</div>
</div>
  </center>
  <br>
  <br>
        </mdb-card-body>
      </mdb-card>
    </mdb-row>
  </mdb-container>
</div>
</template>
 
 <script>
  import firebase from 'firebase';
  import { mdbContainer, mdbRow,mdbCard, mdbCardImage,mdbCardBody ,mdbView, mdbMask,mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';
 export default {
  
            data () {
                return {
                   
          email: '',
          password: ''
     
                };
            },
            components: {
              mdbContainer,
              mdbRow,
              mdbCard,
              mdbCardImage,
              mdbCardBody,
              mdbView,
              mdbMask,
         mdbTbl,
      mdbTblHead,
      mdbTblBody
            },
            
  methods: {
  login () 
 {

            firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          
           .then (user => {
                   alert('Welcome');
                   localStorage.user ='admin';
                       this.$router.push('/admin');
                                        },
                                   err => {
                                          alert(err.message);
                                                }
                            );
   
  }
  }
   
          
          }
        </script>
 <style scoped>
 section.preview {
    border: 1px solid #e0e0e0;
    padding: 15px;
     width: 750px;
     
}
#one {
     
    padding-left: 50px;
} 
 
  #login {
        width: 500px;
        height: 300px;
        border: 1px solid #CCCCCC;
        /* background-image: url('~@/assets/login.jpg'); */
        position: relative;
        
        margin-top: 50px;
      
    }
    #signin {
      width: 20%;
      position: absolute;
      bottom: 30px;
      left: 40%;
      right: auto;
    }
 </style>
 
 
 
