<template>
 
  <mdb-container id="one">
    <mdb-row>
      <mdb-card reverse>
        <mdb-view hover cascade>
          <mdb-card-image src="https://i.imgur.com/Mx23jk2.jpg" alt="Card image cap"></mdb-card-image>
          <mdb-mask waves overlay="white-slight"></mdb-mask>
        </mdb-view>
        <center>
          <br>
        <h3 class="light-blue-text"><b> AVCCS - Login </b></h3></center>
        <br>
        <hr>
        <mdb-card-body class="text-center" cascade>   
            <center>     
 
<div class="login" center>
 
 
<button @click="socialLogin" >Login with Google+ <i class="fab fa-google"></i>
</button>
<!-- <p>You don't have an account ? You can <router-link to="/sign-up"> create once</router-link></p> -->
</div>  
  
  </center>
  <br>
  <br>
        </mdb-card-body>
      </mdb-card>
    </mdb-row>
  </mdb-container>
 





</template>

<script>
import firebase from 'firebase';

          import { mdbContainer, mdbRow,mdbCard, mdbCardImage,mdbCardBody ,mdbView, mdbMask,mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';
export default {
name: 'login',
 components: {
              mdbContainer,
              mdbRow,
              mdbCard,
              mdbCardImage,
              mdbCardBody,
              mdbView,
              mdbMask,
         mdbTbl,
      mdbTblHead,
      mdbTblBody
            },
data() {
return {
email:'',
password:''
};
},
methods: { 
socialLogin() {
const provider = new firebase.auth.GoogleAuthProvider();

firebase.auth().signInWithPopup(provider).then((result) => {
  localStorage.user = 'user';
this.$router.replace('/userbody');
localStorage.user = 'user';
}) .catch((err) => {
alert('Oops.'+err.message)
});
}
}
}
</script>

<style scoped>

.login {
 width: 70%;
margin-top: 40px;
align-content: center;
}
input {
margin: 10px 0;
width: 20%;
padding: 15px;
}
button {
  background-color: #dd4b39;
  color: white;
  margin-left: -50px;
margin-top: 20px;
width: 50%;
height: 50px;
cursor: pointer;
white-space: nowrap;
}
p {
margin-top: 40px;
font-size: 13px;
}
p a {
text-decoration: underline;
cursor: pointer;
}
section.preview {
    border: 1px solid #e0e0e0;
    padding: 15px;
     width: 750px;
     
}
#one {
     
    padding-left: 50px;
}
</style>


 