<template>
  <mdb-container id="one">
    <mdb-row>
      <mdb-card reverse>
        <mdb-view hover cascade>
          <mdb-card-image src="https://i.imgur.com/1rfcrTm.jpg" alt="Card image cap"></mdb-card-image>
          <mdb-mask waves overlay="white-slight"></mdb-mask>
        </mdb-view>
         <div class="row">
    <div class="col-md-10"> </div>
    <div class="col-md-1"> <button type="button" class="btn btn-danger" id="btbt"@click="logout()">Logout</button></div>
  </div>
 
        
        <hr>
        <mdb-card-body class="text-center" cascade>
            <center> 
   <div class="container">
  
<form @submit.prevent="saveBlock">

       
 <b-container fluid>
    <b-row class="my-1" v-for="type in types" :key="type">
      <b-col sm="3">
       <label for="Date"> തീയതി </label>
      </b-col>
      <b-col sm="9">
        <b-form-input :id="`type-${type}`" :type="type" v-model="date" required />
      </b-col>
    </b-row>
  </b-container>

   <div class="row">
      <div class="col-25">
        <label for="country">മേഖല </label>
      </div>
      <div class="col-75">
        <select id="country" name="country" v-model="block_name" required>
          
          <option value=" TV Puram"> ടി വി പുരം</option>
  <option value="Parakkattukulangara">പറക്കാട്ടുകുളങ്ങര </option>
  <option value="Vallakam">വല്ലകം</option>
  <option value="Padinjaremuri">പടിഞ്ഞാറെമുറി </option>
  <option value="Akkarappadam">അക്കരപ്പാടം  </option>
  <option value="Chemmanakiri"> ചെമ്മനാകിരി</option>
    <option value="Vechoor"> വെച്ചൂർ </option>
    <option value="Vaikom"> വൈക്കം  </option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="fname"> സമാഹരിച്ച തൊണ്ട് </label>
      </div>
      <div class="col-75">
        <input type="number" id="fname" name="firstname"  v-model="total_husk">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="lname">അടിച്ച തൊണ്ട്</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" name="lastname" v-model="used_husk" required>
      </div>
    </div>
   <div class="row">
      <div class="col-25">
        <label for="lname">ലഭിച്ച ചകിരി</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" name="lastname"  v-model="good_fiber" required>
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="lname">കുട്ടി ചകിരി</label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" name="lastname"  v-model="little_fiber" required>
      </div>
    </div>
      <div class="row">
      <div class="col-25">
        <label for="lname">ചകിരി ചോറ് </label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" name="lastname"  v-model="cocopeat" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">തൊഴിലാളികളുടെ എണ്ണം </label>
      </div>
      <div class="col-75">
        <input type="number" id="lname" name="lastname"  v-model="workers" required>
      </div>
    </div>
    <div class="row">  
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><input type="submit" value="Submit"></div>
    <div class="col-md-4"></div>
  </div>
</div>
    </div>



  </form>
</div>

            </center>
        </mdb-card-body>
      </mdb-card>
    </mdb-row>
  </mdb-container>
</template>
  <script>
          import { mdbContainer, mdbRow,mdbCard, mdbCardImage,mdbCardBody ,mdbView, mdbMask, mdbInput,mdbBtn, mdbSelect,} from 'mdbvue';
   import db from './firebaseInit'
   import firebase from 'firebase';
import { error } from 'util';
          export default {
            name: 'CardProPage',
            components: {
              mdbContainer,
              mdbRow,
              mdbCard,
              mdbCardImage,
              mdbCardBody,
              mdbView,
              mdbMask,
              mdbBtn,
              mdbInput ,
               mdbSelect
              
        },
        
            data() 
            {
            return {
             
              block_name:null,
              date : null,
              total_husk :null,
              used_husk : null,
              good_fiber: null,
              little_fiber:null,
              cocopeat: null,
              workers:null,
               types: [

          'date'
        ],
       
        isLoggedIn : false,
        currentUser : false
        
            }
            },
            methods : {
              saveBlock (){

                if (!this.total_husk) {
        this.errors.push('husk required.');
                }
                if (!this.used_husk) {
        this.errors.push('Used Husk required.');
      }
       if (!this.block_name) {
        this.errors.push('Block Name required.');
      }
       if (!this.date) {
        this.errors.push('Date required.');
      }
       if (!this.used_husk) {
        this.errors.push('Good Fiber required.');
      }
       if (!this.little_fiber) {
        this.errors.push('Value required.');
      }
      if (!this.cocopeat) {
        this.errors.push('Value required.');
      }
      if (!this.workers) {
        this.errors.push('Value required.');
      }
                db.collection('coir_blocks').add({
                  
                  block_name:this.block_name,
                  date:this.date,
                  total_husk: this.total_husk,
                  used_husk: this.used_husk,
                  good_fiber: this.good_fiber,
                  little_fiber: this.little_fiber,
                  cocopeat : this.cocopeat,
                  workers :this.workers

                })
                .then(docRef => {
                    alert("Your Response Recorded : Thank you ");  
      this.block_name='',
      this.date= '',
      this.total_husk ='',
      this.used_husk='',
      this.good_fiber='',
      this.little_fiber='',
      this.cocopeat='',
      this.workers=''

                  //this.$router.push('/admin')
                })
                .catch(error => console.log(err))
              },
               
    logout:function(){
      firebase.auth().signOut().then(() => {
        this.$router.push('/firstpage')
      })
    }
  
            }
  
          };
        </script>
 <style scoped>
 body {
   font-family: meera;
 }
@font-face {
  font-family: meera;
  src: url(../assets/fonts/meera.ttf);
}

 section.preview {
    border: 1px solid #e0e0e0;
    padding: 15px;
     width: 750px;
     
}
#one {
     
    padding-left: 50px;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#sub {
  align-content: center;
}
</style>
 </style>
 